<h1>Scrablle</h1>
<form action="/get_score">
  <label for="wordInput">Enter a word</label>
  <input type="text" id="wordInput" name="wordInput">
  <button type="submit">Check score</button>
</form>
<p>
  Your Score: @Model
</p>
